<h1> Welcome to Nathan's Happy App</h1> 

<p><%= @spot = render 'joke' %> </p> 

<p> 
# Hear a joke 
<%= button_to 'Give me a joke', @spot = render 'joke' %> 

# Read a quote 
<%= button_to 'Give me a quote', @spot = render 'quote' %> 
</p> 